assets/
checkpoints/
deps/
*.egg-info/
__pycache__/

our_method/pipeline/test.ipynb
our_method/pipeline/draw_bbox.ipynb

our_method_test/logs/
our_method_test/AnyTask/
our_method_test/acdc_output/

tests/acdc_output


###############
GAIA_Paper_Submitted/
AnyTask_Submitted/
chatgpt_api_key
execute
logs/

