assets
assets/
checkpoints
checkpoints/
deps/
training_results/
*.egg-info/
__pycache__/

our_method/pipeline/test.ipynb
our_method/pipeline/draw_bbox.ipynb

our_method_test/
our_method_test/acdc_output/
our_method_test/acdc_output_orig/
logs/

tests/acdc_output

chatgpt_api_key
execute
tamp/
*.hdf5

logs/
